{% extends 'tienda/layout.html' %}
{% load static %}
{% block contenido_pagina %}

<!--funciona mal el product placement-->
    <br><br>
    
    <div class="container">
        <table class="table table-stripped">
            <thead>
                <th scope="col"></th>
                <th scope="col">producto</th>
                <th scope="col">categoria</th>
                <th scope="col">precio</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>
                            <img class="img-thumbnail rounded" src="{{ media_url }} {{ producto.imagen.url }}" alt="{{ producto.imagen.name }}" width="200" height="200">
                        </td>
                        <td>{{ producto.titulo }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>
                            <button class="btn btn-warning text-dark"><a href="{% url 'tienda:producto' producto.id %}">ver</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock contenido_pagina %}